.login_bg {
  width: 100%;
  margin-top: 85px;
  display: grid;
  place-content: center;
  background: #f8f8f8;
  z-index: -1;
}

.login_container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.407);
}

.login_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_container input[type="email"] {
  border: 1px solid gray;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_container button {
  width: 100%;
}

.login_content {
  width: 90%;
}

.login_content h1 {
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .login_container {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
