:root {
    --cards-bg: #e9e9eb;
    --sans-serif-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardsMain {
    width: 100%;
    height: 800px;
    margin: auto;
}

.cardsMain > h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}

.cardsDiv {
    justify-content: center;
    display: grid;
    margin: auto;
    width: 100%;
    grid-template: repeat(2, 700px) / repeat(auto-fit, 400px);
}

.cards {
    margin: 10px;
}

.preview {
    background: var(--cards-bg);
    width: 380px;
    height: 370px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cardColor {
    width: 30px;
    height: 30px;
}

.cardColorDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    gap: 10px;
}

.cardStars {
    display: flex;
    flex-direction: row;
}

.cardStarsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cardsDiv p {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cardsDiv h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clicked {
    border: 3px solid black;
}

@media (max-width: 1000px) {
    .cardsDiv {
        grid-template: repeat(2, 700px) / repeat(2, 400px);
    }
}