.cardsMain {
    width: 100%;
    height: auto;
    margin: auto;
}

.cardsMain > h1 {
    width: 100%;
    text-align: center;
}

.cardsDiv {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template: repeat(2, 50%) / repeat(auto-fit, 48%);
}

.cards {
    margin: 20px;
}

.preview {
    background: var(--cards-bg);
    width: 100%;
    gap: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cardColor {
    width: 30px;
    height: 30px;
}

.cardColorDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    gap: 10px;
}

.cardsDiv p {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cardsDiv h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clicked {
    border: 3px solid black;
}