footer {
    background: var(--bg-reviews);
    color: white;
} 

.footer_email {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer h1, footer h4 {
    margin: 0;
    padding: 0;
    color: white;
    padding: 5px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.email_container input {
    background: transparent;
    width: 100%;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.email_container {
    margin-bottom: 30px;
}

.shop_all h4  {
    width: 90%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.footer_links_container {
    width: 90%;
    margin: auto;
}

footer svg {
    filter: invert(1);
}

footer a:hover {
    text-decoration: underline;
    color: white;
} 

.footer_links_container {
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer_links_content a {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bottom_footer {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 90%;
    margin: auto;
}

.bottom_footer h4 {
    padding: 0;
    padding-right: 25px;
    margin: 0;
    font-size: 1em;
}

.bottom_footer_flex {
    display: flex;
    justify-content: left;
}

.footer__logos {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}