/* Logo animation */

.logo {
    font-size: 2.5em;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 15px;
}

.logo_visible {
    overflow: hidden;
    height: 35px;
}

.logo_container:hover {
    transform: translateY(-35px);
}

.logo_container {
    transition: .5s;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.headerBg {
    transition: background .3s;
    box-shadow: 0px .1vh black;
    width: 100vw;
    height: 70px;
    background: white;
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.headerMain {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    max-width: 1500px;
}

.headerLinkHoverLine {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #000;
    height: 2px;
    transition: opacity .3s;
    opacity: 0;
}

.HeaderLink:hover .headerLinkHoverLine{
    opacity: 1;
}

.right_header {
    display: flex;
    align-items: top;
}

.right_header svg {
    margin: 5px;
    cursor: pointer;
}

.headerLinks {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.HeaderLink {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}

.leftHeader {
    display: flex;
    align-items: center;
    justify-content: left;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin-right: 10px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .headerLinks {
        display: none;
    }
    .logo_container:hover {
        transform: none;
    }  
    .hamburger {
        display: flex;
    }
}