@font-face {
  font-family: "Queens";
  src: url(/src/fonts/QueensCondensedTrial-Regular.ttf);
}

:root {
  --bg-color: #f8f8f8;
  --sans-serif-font: sans-serif;
  --cards-bg: #e9e9eb;
  --lightblue: #72f2c7;
  --bg-reviews: #131313;
  --gray: rgb(246, 246, 246);
  --shadow-color: rgba(196, 196, 196, 0.542);
  --hr-color: rgb(214, 214, 214);
  --dark-gray: rgb(33, 33, 33);
  --h1: clamp(3rem, 8vw, 3.5rem);
  --h2: clamp(16px, 5vw, 40px);
  --h3: clamp(16px, 6vw, 20px);
  --h4: clamp(14px, 2vw, 16px);
  --h5: clamp(14px, 2vw, 14px);
  --h6: 12px;
  --p: clamp(14px, 3vw, 20px);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}

.bold {
  font-weight: bold;
}

::selection {
  background: black;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

section:not(.main_wallpaper, .BitsAreBetter, .footer) {
  width: min(1500px, 95%);
  margin: auto;
  margin-top: 50px;
}

u {
  cursor: pointer;
  font-family: sans-serif;
}

.hr {
  width: 100%;
  height: 1px;
  background: black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: var(--p);
}

h1 {
  line-height: 0.8em;
  font-size: var(--h1);
  font-family: "Queens";
}

h2 {
  font-size: var(--h2);
  font-family: var(--sans-serif-font);
}

h3 {
  font-size: var(--h3);
  font-family: var(--sans-serif-font);
}

h4 {
  font-size: var(--h4);
  letter-spacing: -0.4px;
  word-spacing: 1px;
  font-family: var(--sans-serif-font);
}

h5 {
  font-size: var(--h5);
  font-family: var(--sans-serif-font);
}

h6 {
  font-size: var(--h6);
}

a {
  text-decoration: none;
  color: black;
  font-size: var(--h6);
  font-family: var(--sans-serif-font);
}

b {
  font-family: var(--sans-serif-font);
  font-weight: bold;
}

strong {
  font-size: 1em;
  font-weight: bold;
  font-family: sans-serif;
}

button {
  height: 45px;
  padding: 15px;
  transition: 0.5s;
  border: none;
  font-family: var(--sans-serif-font);
  cursor: pointer;
}

.button {
  background: #000;
  color: white;
}

.button:hover {
  background: var(--lightblue);
  color: black;
}

/* ICONS */

.close_svg {
  width: 16px;
  height: 16px;
}

.icon {
  display: inline-block;
}

.icon:before {
  background-image: url(//bitetoothpastebits.com/cdn/shop/t/275/assets/sprite-icon-67ccb2e4.svg?v=8988397…);
  background-repeat: no-repeat;
  background-size: 39.75em 359.125em;
  content: "";
  display: block;
  font-size: 1em;
}

/* BITS ARE BETTER ICONS */

.bits-are-better__icon-wrap .icon:before {
  font-size: 13px;
}

.icon--bit-in-hand:before {
  background-position: 0 -64.4375em;
  width: 3.125em;
  height: 3.125em;
}

.icon--hotel-class:before {
  background-position: 0 -230.125em;
  width: 3.125em;
  height: 3.125em;
}

.icon--counter-top:before {
  background-position: 0 -162.6875em;
  width: 3.125em;
  height: 3.125em;
}

.icon--luggage:before {
  background-position: 0 -238.5em;
  width: 3.125em;
  height: 3.125em;
}

.icon--earth:before {
  background-position: 0 -185.625em;
  width: 3.125em;
  height: 3.125em;
}

.icon--anti-bacterial:before {
  background-position: 0 -9.375em;
  width: 3.125em;
  height: 3.125em;
}

/* FOOTER ICONS */

.icon--b-corp:before {
  background-position: 0 -42.25em;
  width: 2.625em;
  height: 4.375em;
}

.icon--cruelty-free-badge-footer:before {
  background-position: 0 -174.875em;
  width: 3.4375em;
  height: 4.5em;
}

.icon--oa-badge:before {
  background-position: 0 -261.5em;
  width: 3.9375em;
  height: 4.3125em;
}

.icon--woman-owned-badge-footer:before {
  background-position: 0 -350.9375em;
  width: 2.3125em;
  height: 4.3125em;
}

/* MAIN */

.main_wallpaper {
  background-image: url(https://bitetoothpastebits.com/cdn/shop/files/jpeg-optimizer_2024.07.01_homepage_hero_desktop_2.jpg?v=1720816230&width=3000);
  background-position: top 35px center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0px;
  z-index: 0;
  min-height: 635px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.main_content_container {
  height: 100%;
  display: flex;
  align-items: center;
  height: 380px;
  width: 85%;
  max-width: 1500px;
  margin: auto;
  color: white;
}

.main_content_container p {
  padding: 25px;
}

.main_content {
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.main_content h1 {
  font-size: 6em;
}

.main_content p {
  font-size: 2em;
}

.main_content .button {
  width: 100%;
}

@media (max-width: 760px) {
  .main_content_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }

  .main_content h1 {
    font-size: 2.7em;
    max-width: 180px;
    margin: auto;
  }

  .main_content p,
  .main_content h1 {
    color: black;
  }

  .main_wallpaper {
    background-image: url("//bitetoothpastebits.com/cdn/shop/files/jpeg-optimizer_2024.07.01_homepage_hero_mobile_3.jpg?v=1720816209&width=780");
    min-height: 80vh;
  }

  .main_content .button {
    width: 120px;
  }
}
