:root {
    --bg-reviews: #131313
}

.reviews {
    /* width: 100%; */
    background: var(--bg-reviews);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_container {
    /* overflow: hidden; */
    transition: .5s;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.review_card {
    border: 1px solid lightgray;
    min-width: calc(100% /3);
    position: relative;
}

.review_card_img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.reviews h1 {
    font-size: 3em;
    text-align: center;
    color: white;
    margin: auto;
    padding: 40px;
    font-weight: normal;
}

.reviews_btn {
    background: #72f2c7;
    color: #131313;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    margin: 50px;
    font-size: 1.5em;
    width: 450px;
    height: 70px;
}

.reviews_btn:hover {
    background: white;
}

.ReviewTitle {
    padding: 20px;
    color: white;
    padding-left: 10%;
}

.ReviewTitle p {
    font-size: 1.4em;
    font-family: sans-serif;
}

.AuthorAndStars {
    position: absolute;
    top: 33%;
    left: 10%;
}

.reviews-stars {
    margin-top: -15px;
    width: 100px;
    color: #c7f6e6;
}