:root {
    --bg-color: #f8f8f8;
    --cards-bg: #e9e9eb;
    --lightblue: #c7f6e6
}

.shop_by_category h1 {
    text-align: center;
}

.carousel {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.inner_carousel {
    padding: 10px;
    cursor: grab;
    width: 100%;
    height: auto;
}

.card_image {
    background: var(--cards-bg);
    position: relative;
    height: 100%;
    pointer-events: none;
}

.card_image img {
    width: 85vw;
    height: 100%;
    object-fit: auto;
}

.shop_by_btn {
    width: 100%;
    color: white;
    background: black;
}

.inner_carousel h4 {
    position: absolute;
    top: 10px;
    left: 20px;
}

.shop_by_btn:hover {
    color: black;
    background: var(--lightblue);
}