.shop_by_category h1 {
    text-align: center;
}

.carousel {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: grab;
}

.inner_carousel {
    height: auto;
    padding: 8px;
}

.card_image {
    background: var(--cards-bg);
    position: relative;
    height: 100%;
    pointer-events: none;
    width: 85vw;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop_by_btn {
    width: 100%;
    color: white;
    background: black;
}

.inner_carousel h4 {
    position: absolute;
    top: 10px;
    left: 20px;
}

.shop_by_btn:hover {
    color: black;
    background: var(--lightblue);
}
