.companies_list {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

.as_seen_in {
    margin-right: 50px;
    white-space: nowrap;
}

.as_seen_in h4 {
    font-size: 1.3em;
    padding-right: 10px;
}

.companies_container {
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.top_copm_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.top_copm_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .companies_list {
        flex-direction: column;
    }

    .as_seen_in h4 {
        padding: 5px;
        margin: 0;
    }
    
    .as_seen_in {
        margin-right: 0px;
    }

    .top_copm_item {
        height: 30px;
        width: 150px;
    }

    .companies_container {
        margin-left: 190px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}