.companies_list {
  padding: 30px;
  overflow-x: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
}

.as_seen_in {
  margin-right: 50px;
  white-space: nowrap;
}

.as_seen_in h4 {
  padding-right: 10px;
}

.companies_container {
  height: 40px;
  position: relative;
  display: flex;
  width: 100vw;
  align-items: center;
}

.companies_inner_container {
  margin-left: 5%;
  transition: 0.5s;
  display: flex;
  position: absolute;
  gap: 40px;
}

.top_copm_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.top_copm_item img {
  object-fit: contain;
}

@media (max-width: 1000px) {
  .companies_list {
    flex-direction: column;
    min-width: 100%;
  }

  .as_seen_in h4 {
    padding: 5px;
  }

  .as_seen_in {
    margin-right: 0px;
  }

  .top_copm_item {
    height: 30px;
    width: 150px;
  }

  .companies_container {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
